{% extends "admin_layout.html" %}

{% block title %}
  Admin Dashboard
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- Custom CSS -->
  <link href="static/admin/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <h2>Welcome to Admin Dashboard</h2>
    <p></p>
  </div>
</div>
<!-- /.container -->
<div class="container">
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </footer>
</div>
{% endblock %}